{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}

<div class="four wide column centered ">

    <br>
     <h2>Andamento do Projeto Resultado</h2>


    {% if lista > 0 %}
    <label for="file"><h1>{{lista}}%<h1></label>
    <progress id="file" value="{{lista}}" max="100"> 32% </progress>
    </div>

    {%else%}

    <label for="file"><h1>0%<h1></label>
    <progress id="file" value="0" max="100"> 32% </progress>
    </div>
     {%endif%}


{% endblock %}


