{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}

<div class="four wide column centered ">

     <br>
     <h1>Andamento do Projeto</h1>
     <p>Selecione o Projeto:</p>

      <div ui grid>
          {%for c in lista %}

           <div class="extra content">
                <a  href="/Desafio/andamento_projeto_resultado/{{ c.id }}/" > {{ c.Nome_Projeto }}</a>

           </div>


          {%endfor%}

        </div>


{% endblock %}

