{% load staticfiles %}

<html xml:lang="pt" lang="br">

<head>
	<title> {% block title %} Desafio Web {% endblock %}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <script src="{% static 'semantic/semantic.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'desafio.css' %}"/>

</head>

<body>
	<header class="topo ui grid">
        <div ui grid>
            <div class="two wide column">

            </div>
        </div>
        <div ui grid>
            <div class="two wide column">

        </div>
        </div>
    </header>


    <nav class="ui seconsdary pointing menu">
            {% block body %}{% endblock %}
    </nav>

     <article class="ui grid conteudo">
        {% block body_block %}

        {% endblock %}
    </article>

    <footer class="ui grid footer">
        <div class="two wide column">
            <a href="https://www.facebook.com/"><i class="large facebook icon"></i></a>
            <a href="https://www.instagram.com/"><i class="large instagram icon"></i></a>
        </div>

        <div  class="twelve wide column">
            <p> Processo Seletivo Grupo Euax - Desafio Web Developer</p><br>
            <br>
        </div>
        </div>


    </footer>



</body>
</html>
