{% extends 'base.html' %}

{% block body %}

{% endblock %}





{% load staticfiles %}



{% block body_block %}

    <div class="four wide column centered inverted">


    <form class="ui form" id="category_form"  method= "post" {% if id %} action="."  {% else %} action="{% url 'desafio:Cadastrar_Atividade' %}"{%endif%}>
        {% csrf_token %}

            <section class="eight wide column"></section>

        <h2>Cadastro de Atividade</h2>

                       <h5>Nome da Atividade</h5>
                        {{ form.Nome_Atividade }}
                        {{form.Nome_Projeto.errors}}

                         <h5>Projeto</h5>
                        {{ form.ID_Projeto }}
                        {{form.ID_Projeto.errors}}

                        <h5>Data inicial</h5>
                        {{ form.Data_Inicial }}
                        {{form.modelo.errors}}

                          <h5>Data Final</h5>
                        {{ form.Data_Final }}
                        {{form.Data_Final.errors}}

                        <h5>Finalizado</h5>
                        {{ form.Finalizado }}
                        {{form.Finalizado.errors}}

                        <br>
                        <input name="id" type="hidden" value="{{id_post}}"/>
                        {% if field.errors %}
                        <br>
                            <div id="error" class="ui pointing label top red basic erro">
                                {{ field.errors }}
                            </div>
                        {% endif %}

<br>
 {%if id%}

        <div class="sixteen wide column">
            <button type="submit" class="ui button" name="submit">Salvar</button>
        </div>
{%else%}
        <div class="sixteen wide column">
            <a class="ui red button"  href="/Desafio/index">Voltar</a>
            <button type="submit" class="ui green button" name="submit">Salvar</button>
        </div>
        {%endif%}

    </form>
    </div>

{% endblock %}