{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}

<div class="three wide column centered ">

    <div class="id1"></div>
    <div ui grid>

        <div class="ui positive message">

          <div class="header">
            {{mensagem}}
          </div>
        </div>

         <div ui grid>
          <a class="ui red button"  href="/Desafio/index">Voltar</a>
           </div>


</div>


{% endblock %}

