{% extends 'base.html' %}

{% block body %}

{% endblock %}





{% load staticfiles %}



{% block body_block %}

    <div class="four wide column centered inverted">


    <form class="ui form" id="category_form"  method= "post" {% if id %} action="."  {% else %}  action="{% url 'desafio:Cadastrar_Projeto' %}" {%endif%}>
        {% csrf_token %}

            <section class="eight wide column"></section>

        <h2>Cadastro de Projeto</h2>

                       <h5>Nome do projeto</h5>
                        {{ form.Nome_Projeto }}
                        {{form.Nome_Projeto.errors}}

                         <h5>Data inicial</h5>
                        {{ form.Data_Inicial }}
                        {{form.modelo.errors}}

                          <h5>Data Final</h5>
                        {{ form.Data_Final }}
                        {{form.Data_Final.errors}}



                        <br>
                        <input name="id" type="hidden" value="{{id_post}}"/>
                        {% if field.errors %}
                        <br>
                            <div id="error" class="ui pointing label top red basic erro">
                                {{ field.errors }}
                            </div>
                        {% endif %}

<br>
 {%if id%}

        <div class="sixteen wide column">
            <button type="submit" class="ui button" name="submit">Salvar</button>


        </div>
{%else%}
        <div class="sixteen wide column">
            <a class="ui red button"  href="/Desafio/index">Voltar</a>
            <button type="submit" class="ui green button" name="submit">Salvar</button>
        </div>
        {%endif%}


    </form>


        {% if messengerSucess|length > 1 %}

        <div class="ui positive message">
          <i class="close icon"></i>
          <div class="header">
            {{messengerSucess}}
          </div>
        </div>
    {% endif %}



    </div>

{% endblock %}
