{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}


<div class="two wide column centered ">

 <div class="id1"></div>
      <div ui grid>

            <button class="ui button">
                 <a class="item" href="{% url 'desafio:Andamento_Projeto' %}">Andamento dos Projetos</a>
</button>
           </div>

<div class="id"></div>

      <div ui grid>
           <button class="ui button">
                 <a class="item" href="{% url 'desafio:Status_Projeto' %}">Status dos Projeto</a>
          </button>
           </div>

 </div>
</div>


{% endblock %}

