{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}

<div class="three wide column centered ">

     <h1>Eliminar Atividade</h1>
     <p>Selecione Atividade:</p>

    <div ui grid>
          {%for c in lista %}

           <div class="extra content">

                 <a  href="/Desafio/desativar_atividade/{{ c.id }}/" > {{ c.Nome_Atividade }} </a>

          </div>

          {%endfor%}

</div>


{% endblock %}

