{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}

<div class="three wide column centered ">
    <br>
     <h1>Eliminar Projeto</h1>
     <p>Selecione o projeto:</p>

    <div ui grid>
          {%for c in lista %}

           <div class="extra content">

                 <a  href="/Desafio/desativar_projeto/{{ c.id }}/" > {{ c.Nome_Projeto }} </a>

          </div>

          {%endfor%}

</div>


{% endblock %}

