{% load staticfiles %}

<div class="left menu">


    </div>
     <div class="right menu">

         <a class="item" href="{% url 'desafio:Cadastrar_Projeto' %}">Cadastro de Projeto</a>
         <a class="item" href="{% url 'desafio:Cadastrar_Atividade' %}">Cadastro de Atividades</a>
         <a class="item" href="{% url 'desafio:Lista_Excluir_Projeto' %}">Eliminar Projeto</a>
         <a class="item" href="{% url 'desafio:Lista_Excluir_Atividade' %}">Eliminar Atividade</a>

                </div>
            </div>
        </div>