{% extends 'base.html' %}

{% block body %}
{%  include 'Menu_Index.html' %}
{% endblock %}


{% load staticfiles %}

{% block body_block %}


<div class="four wide column centered ">
<h1>Status do Projeto Resultado</h1>



       <div ui grid>

       {%for c in var3 %}

       <p> O Projeto vai atrasar por causa da Atividade: {{ c }} Data: {{c.Data_Final}} <p><br>

    {%endfor%}

     {% if sem_valor == 2%}
      <p>O Projeto não vai atrasar!<p>

           {% else %}
        <i>O Projeto esta com a data final para o dia: {{data_pro}}<i>
    {% endif %}


     </div>
</div>
{% endblock %}
