body{
height: 100 %;
padding: 0 !important;
margin: 0 !important;
background-color: #E5E5E5;
}

.h {
    height: 250px;
    padding-left: 150px;
}

.topo{
background-color: #E5E5E5;
height: 5%;
margin: 1% !important;
}

.titulo{
font-size: 65px;
color: #000000
}

.conteudo{
background-color: #f8f8f8;
min-height:70%;
}

nav.menu{
background-color: #f8f8f8 !important;
}

.footer{
padding-top: 1% !important;
text-align: center;
margin-top: 150px
}

.foot{
height: 55px;
margin-left: -50%;
}

.texto{
text-align: justify;
}

.espaco{
padding-bottom: 50px;
}

.materia{
text-align: center;
}

.article{
margin-top:20%;

}

div.id{
 text-align:center;
 margin-top:20px;
 margin-bottom:25px;
}

div.id1{
 text-align:center;
 margin-top:25%;
 margin-bottom:25px;
}


.espaco{
margin-top:10%;
}

.espaco>h1{
margin-top:10%;
}

espaco1{
margin-top:50%;
}


#voltar{
margin-top: 5%;
}




